In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\winkl\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\winkl\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\winkl\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\winkl\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\winkl\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\winkl\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
sales_april = pd.read_csv('Sales_April_2019.csv')

In [4]:
type(sales_april)

pandas.core.frame.DataFrame

In [5]:
sales_april.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,18324,18324,18324,18324,18324,18324
unique,17538,20,8,19,13584,17120
top,Order ID,Lightning Charging Cable,1,14.95,Order Date,Purchase Address
freq,35,2201,16558,2201,35,35

In [6]:
sales_april.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [7]:
sales_april.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [8]:
sales_april.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
Order ID            18324 non-null object
Product             18324 non-null object
Quantity Ordered    18324 non-null object
Price Each          18324 non-null object
Order Date          18324 non-null object
Purchase Address    18324 non-null object
dtypes: object(6)
memory usage: 861.8+ KB